body{
    display: grid;
    justify-items: center;
}
.container{
    display: grid;
    grid-template-columns: 30% 70% ;
    width: 100%;
    height: 50vh;
    border: 3px solid black;
}
#side-head{
        position:sticky;
        top: 0%;
        background-color: #fff;
    }
#heading{
    margin-bottom:0.5rem;
    margin-top:0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
} 
#para{
    margin-top:0.2rem;
    /* font-weight: bold; */
} 

#side-head{
    /* background-color:rgb(173, 173, 201); */
    /* padding:0.1rem; */
    /* position:fixed; */
    /* top: 0; */
}
.side-bar{
    overflow:auto;
    display:grid;
    grid-gap: 1rem;
    margin-left: 1rem;

}
#main-head{
    background-color:purple;
    padding: 1rem;
    margin-top: 0rem;
    
}

.main{
    overflow:auto;
    margin-top:0rem
}
.link{
    text-decoration: none;
    color: rgb(58, 56, 56);
    font-weight: bold;
}
.link:hover{
    background-color:rgb(165, 161, 161);
    border-radius: 0.3rem;
    padding: 0.2rem;
    
}
.link:active{
    color: rgb(99, 4, 99);
}
@media only screen and (max-width:450px) {
    html{
        font-size: 10px ;
    }
    .container{
        grid-template-columns: 40% 60% ;
    }

}
